<nav class="navigatin-bar">
    <div class="navigation-bar-logo">
        Nodejs Blog App

    </div>
    <div class="navigation-bar-routes backing ">
        <a href="/">Home</a>
        <a href="/about">Post</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>

    </div>
    <div class="navigation-bar-hamburgerbtn">
        <i  class="fas fa-bars fa-2x"></i>

    </div>



</nav>