<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

   
            <form class="division-section-form" action="/user/login", method="POST">
                <div class="division-section-form-inner">
                <div class="form-group">
                    <label for="title">Email</label>
                    <input type="email" id ='email' name='email' placeholder="Email">
                </div>
                <div class="form-group"> 
                    <label for="content">Password</label>
                    <input type="text" id ='title' name='password' placeholder="Password">

                </div>

                <div class="form-group"> 
                    <input type="submit" value="Send">
                </div>
            </div>
            </form>

    

</body>

</html>